ROOT_DIR=/home/<user>/Documents/homelab
PUID=1000
PGID=1000
TZ=Europe/Paris
MEDIA_DIR=/mnt/nas/<shared-storage>
TUNNEL_TOKEN=replace-me
SOULSEEK_USER=your_soulseek_username
SOULSEEK_PASS=your_soulseek_password
